@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

/* Basic Reset */
* { box-sizing: border-box; }
body, html { margin: 0; padding: 0; font-family: 'Source Sans Pro', sans-serif; background: #f0f4f4; overflow-x: hidden; }


h1>a{ 
	font-size: 5vh;
	color: #000000;
	text-decoration: none;
}

p{
	font-size: 2vh;
	color: #ffffff;
}

li{
	font-size: 2vh;
	text-decoration: none;

}

/* Header & Background */
#header {
    position: relative;
    background-image: url("../../images/header.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 7.5em 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

/* שכבת הערפל הכהה שהופכת את הרקע ליפה יותר בטעינה */
#header:after {
    content: '';
    background: #1C0920;
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 1;
}

body.is-preload #header:after { opacity: 1; }

#header .inner { position: relative; z-index: 2; }

#header h1 { font-size: 4em; color: #fff; margin: 0; }
#header hr { 
    border: 0; border-top: solid 1px rgba(192, 192, 192, 0.35); 
    border-bottom: solid 1px rgba(192, 192, 192, 0.35); 
    height: 5px; width: 300px; margin: 1.5em auto; 
}

/* התיקון ל-Navigation Bar */
#nav {
    position: absolute;
    top: 0; left: 0; width: 100%;
    padding: 1.5em 0;
    z-index: 10;
    text-align: center;
}

#nav > ul {
    display: inline-block;
    list-style: none;
    padding: 0; margin: 0;
    position: relative;
    border-left: solid 1px rgba(192, 192, 192, 0.35);
    border-right: solid 1px rgba(192, 192, 192, 0.35);
}

/* הקווים בצדדים */
#nav > ul:before, #nav > ul:after {
    content: '';
    display: block;
    width: 200%;
    position: absolute;
    top: 50%;
    height: 5px;
    border-top: solid 1px rgba(192, 192, 192, 0.35);
    border-bottom: solid 1px rgba(192, 192, 192, 0.35);
}
#nav > ul:before { left: 100%; margin-left: 1px; }
#nav > ul:after { right: 100%; margin-right: 1px; }

#nav > ul > li {
    display: inline-block;
    margin: -9px 0.5em 0 0.5em;
    padding: 0.85em;
    transition: border-color 0.35s ease;
}

#nav > ul > li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
}

/* Button */
.btn {
    display: inline-flex;     /* משאיר את הכפתור בשורה אבל מאפשר יכולות Flex */
    justify-content: center;  /* ממרכז אופקית */
    align-items: center;      /* ממרכז אנכית */
    
    background: #2d74d7;
    color: #ffffff;
    width: 10vh; height: 4vh;
    border-radius: 2vh;       /* שיניתי ל-2vh כדי שיקבל מראה של קפסולה (100% עושה עיגול מוזר) */
    text-decoration: none;
    transition: background 0.3s;
}
.btn:hover { background: #6e9aeb; }

/* Mobile Panel Fix */
#navButton { display: none; }
@media screen and (max-width: 736px) {
    #nav { display: none; }
    #navButton { display: block; position: fixed; top: 0; width: 100%; z-index: 10000; text-align: center; }
    #navButton .toggle:before {
        content: '☰'; display: block; background: rgba(132, 128, 136, 0.8);
        color: #fff; width: 80px; height: 30px; margin: 0 auto;
        border-radius: 0 0 0.5em 0.5em; line-height: 30px;
    }
}